Report/master.pdf
Report/master.toc
Report/master.synctex.gz
Report/master.run.xml
Report/master.log
Report/master.blg
Report/master.bcf
Report/master.bbl
Report/master.auxlock
Report/master.aux
Report/chapters/Introduction/scenario.aux
Report/chapters/background/background.aux
Report/chapters/algorithm_design/algorithm_design.aux
Report/chapters/evaluation/evaluation.aux
Report/chapters/future_work/future_work.aux
Report/chapters/setup/setup.aux
Report/chapters/setup/structure.aux
Report/chapters/algorithm_design/control_algorithm.log
Report/chapters/conclusion/conclusion.aux
Report/chapters/introduction/introduction.aux
Report/graphics/tikz/master-figure0.md5
Report/chapters/background/clustering.log
Dataset/lastfm-dataset-360k/usersha1-artmbid-artname-plays.tsv
Dataset/lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv
Dataset/america/1k_america.tsv
Dataset/america/1k_america_tracks.tsv
Dataset/america/1k_america_usersandtracks.tsv
Dataset/america/1k_america_usersandtracks_edited.tsv
Dataset/america/1kusers_america.tsv
Dataset/america/matrix.txt
Report/graphics/tikz/master-figure0.dpth
Report/graphics/tikz/master-figure0.log
Report/graphics/tikz/master-figure0.pdf
Report/graphics/tikz/master-figure0.run.xml
Report/master-blx.bib
Courses/Skabet/Miniproject/report.aux
Courses/Skabet/Miniproject/report.bbl
Courses/Skabet/Miniproject/report.blg
Courses/Skabet/Miniproject/report.log
Courses/Skabet/Miniproject/report.synctex.gz
Courses/Skabet/Miniproject/report.tdo
Courses/Skabet/Miniproject/report.pdf
Dataset/random/matrix.txt
Dataset/random/1k_random_tracks.tsv
Dataset/random/1k_random_users.tsv
Dataset/random/1k_random_usersandtracks.tsv
Dataset/random/1k_random_usersandtracks_edited.tsv
Dataset/matrix.txt
Dataset/america/1k_america_users.tsv
Dataset/ml-100k/README
Dataset/ml-100k/allbut.pl
Dataset/ml-100k/mku.sh
Dataset/ml-100k/u.data
Dataset/ml-100k/u.genre
Dataset/ml-100k/u.info
Dataset/ml-100k/u.item
Dataset/ml-100k/u.occupation
Dataset/ml-100k/u.user
Dataset/ml-100k/u1.base
Dataset/ml-100k/u1.test
Dataset/ml-100k/u2.base
Dataset/ml-100k/u2.test
Dataset/ml-100k/u3.base
Dataset/ml-100k/u3.test
Dataset/ml-100k/u4.base
Dataset/ml-100k/u4.test
Dataset/ml-100k/u5.base
Dataset/ml-100k/u5.test
Dataset/ml-100k/ua.base
Dataset/ml-100k/ua.test
Dataset/ml-100k/ub.base
Dataset/ml-100k/ub.test
Dataset/movielens/u2.test
Dataset/movielens/u2_base_different_movies.txt
Dataset/movielens/u2_base_different_users.txt
Dataset/movielens/u2_base_matrix.txt
Dataset/movielens/u2_test_different_movies.txt
Dataset/movielens/u2_test_different_users.txt
Dataset/movielens/u2_test_matrix.txt
Dataset/movielens/u3.base
Dataset/movielens/u3.test
Dataset/movielens/u3_base_different_movies.txt
Dataset/movielens/u3_base_different_users.txt
Dataset/movielens/u3_base_matrix.txt
Dataset/movielens/u3_test_different_movies.txt
Dataset/movielens/u3_test_different_users.txt
Dataset/movielens/u3_test_matrix.txt
Dataset/movielens/u4.base
Dataset/movielens/u4.test
Dataset/movielens/u4_base_different_movies.txt
Dataset/movielens/u4_base_different_users.txt
Dataset/movielens/u4_test_different_movies.txt
Dataset/movielens/u.user
Dataset/movielens/u1.base
Dataset/movielens/u1.test
Dataset/movielens/u1_base_different_movies.txt
Dataset/movielens/u1_base_different_users.txt
Dataset/movielens/u1_base_matrix.txt
Dataset/movielens/u1_test_different_movies.txt
Dataset/movielens/u1_test_different_users.txt
Dataset/movielens/u1_test_matrix.txt
Dataset/movielens/u2.base
Dataset/movielens/u4_base_matrix.txt
Dataset/movielens/u4_test_different_users.txt
Dataset/movielens/u4_test_matrix.txt
Dataset/movielens/u5.base
Dataset/movielens/u5.test
Dataset/movielens/u_different_movies.txt
Dataset/movielens/u_different_users.txt
Dataset/movielens/u_matrix.txt
Dataset/movielens/ua.base
Dataset/movielens/ua.test
Dataset/movielens/ub.base
Dataset/movielens/ub.test
Dataset/movielens/README
Dataset/movielens/allbut.pl
Dataset/movielens/mku.sh
Dataset/movielens/u.data
Dataset/movielens/u.genre
Dataset/movielens/u.info
Dataset/movielens/u.item
Dataset/movielens/u.occupation
Dataset/movielens/u1_matrix.txt
Dataset/movielens/u2_matrix.txt
Dataset/movielens/u3_matrix.txt
Dataset/movielens/u4_matrix.txt
Dataset/movielens/u5_matrix.txt
Dataset/movielens/u5_test_different_movies.txt
Dataset/movielens/u5_test_different_users.txt
Dataset/movielens/u5_test_matrix.txt
Dataset/u_matrix.txt
Dataset/lastfm-dataset-1K/1k_data.tsv
Dataset/lastfm-dataset-1K/1k_with_ratings.txt
Recommends/test.m
Recommends/aggregations/average.asv
Recommends/groupRecommend.asv
Recommends/test.asv
Recommends/bordaCount.asv
Report/chapters/evaluation/result.log
Report/graphics/tikz/master-figure1.dpth
Report/graphics/tikz/master-figure1.log
Report/graphics/tikz/master-figure1.md5
Report/graphics/tikz/master-figure1.pdf
Report/graphics/tikz/master-figure1.run.xml
Report/graphics/tikz/master-figure2.dpth
Report/graphics/tikz/master-figure2.log
Report/graphics/tikz/master-figure2.md5
Report/graphics/tikz/master-figure2.pdf
Report/graphics/tikz/master-figure2.run.xml
Report/graphics/tikz/master-figure3.dpth
Report/graphics/tikz/master-figure3.log
Report/graphics/tikz/master-figure3.md5
Report/graphics/tikz/master-figure3.pdf
Report/graphics/tikz/master-figure3.run.xml
Report/graphics/tikz/master-figure4.dpth
Report/graphics/tikz/master-figure4.log
Report/graphics/tikz/master-figure4.md5
Report/graphics/tikz/master-figure4.pdf
Report/graphics/tikz/master-figure4.run.xml
Report/graphics/tikz/master-figure5.dpth
Report/graphics/tikz/master-figure5.log
Report/graphics/tikz/master-figure5.md5
Report/graphics/tikz/master-figure5.pdf
Report/graphics/tikz/master-figure5.run.xml
Report/graphics/tikz/master-figure6.dpth
Report/graphics/tikz/master-figure6.log
Report/graphics/tikz/master-figure6.md5
Report/graphics/tikz/master-figure6.pdf
Report/graphics/tikz/master-figure6.run.xml
Report/graphics/tikz/master-figure7.dpth
Report/graphics/tikz/master-figure7.log
Report/graphics/tikz/master-figure7.md5
Report/graphics/tikz/master-figure7.pdf
Report/graphics/tikz/master-figure7.run.xml
Recommends/prediction.txt
Recommends/validationNew.txt
Dataset/movielens/u1_base_different_movie.txt
Dataset/movielens/u1_base_different_user.txt
Dataset/movielens/u2_base_different_movie.txt
Dataset/movielens/u2_base_different_user.txt
Dataset/movielens/u3_base_different_movie.txt
Dataset/movielens/u3_base_different_user.txt
Dataset/movielens/u4_base_different_movie.txt
Dataset/movielens/u4_base_different_user.txt
Dataset/movielens/u5_base_different_movie.txt
Dataset/movielens/u5_base_different_user.txt
Recommends/funk_svd.asv
Recommends/legacy_svd_slides.asv
Recommends/rank aggregations/transferVotes.asv
Report/chapters/group_recommendation/group_recommendation.aux
Recommends/rank aggregations/bordaCountEscalating.asv
Report/chapters/group_recommendation/rank_aggregation.log
Report/chapters/group_recommendation/individual_recommendation.log
Report/graphics/tikz/mi908e16-figure0.dpth
Report/graphics/tikz/mi908e16-figure0.log
Report/graphics/tikz/mi908e16-figure0.md5
Report/graphics/tikz/mi908e16-figure0.pdf
Report/graphics/tikz/mi908e16-figure0.run.xml
Report/graphics/tikz/mi908e16-figure1.dpth
Report/graphics/tikz/mi908e16-figure1.log
Report/graphics/tikz/mi908e16-figure1.md5
Report/graphics/tikz/mi908e16-figure1.pdf
Report/graphics/tikz/mi908e16-figure1.run.xml
Report/graphics/tikz/mi908e16-figure2.dpth
Report/graphics/tikz/mi908e16-figure2.log
Report/graphics/tikz/mi908e16-figure2.md5
Report/graphics/tikz/mi908e16-figure2.pdf
Report/graphics/tikz/mi908e16-figure2.run.xml
Report/graphics/tikz/mi908e16-figure3.dpth
Report/graphics/tikz/mi908e16-figure3.log
Report/graphics/tikz/mi908e16-figure3.md5
Report/graphics/tikz/mi908e16-figure3.pdf
Report/graphics/tikz/mi908e16-figure3.run.xml
Report/graphics/tikz/mi908e16-figure4.dpth
Report/graphics/tikz/mi908e16-figure4.log
Report/graphics/tikz/mi908e16-figure4.md5
Report/graphics/tikz/mi908e16-figure4.pdf
Report/graphics/tikz/mi908e16-figure4.run.xml
Report/graphics/tikz/mi908e16-figure5.dpth
Report/graphics/tikz/mi908e16-figure5.log
Report/graphics/tikz/mi908e16-figure5.md5
Report/graphics/tikz/mi908e16-figure5.pdf
Report/graphics/tikz/mi908e16-figure5.run.xml
Report/mi908e16-blx.bib
Report/mi908e16.aux
Report/mi908e16.auxlock
Report/mi908e16.bbl
Report/mi908e16.blg
Report/mi908e16.log
Report/mi908e16.pdf
Report/mi908e16.run.xml
Report/mi908e16.synctex.gz
Report/mi908e16.toc
Report/chapters/Introduction/Related_Work.log
