{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  };
  var csrftoken = getCookie('csrftoken');

  $(function() {
    $('#sortable,ol').sortable({
        placeholder: 'ui-state-highlight',
        connectWith: '.connect_lists',
        receive: function(event, ui) {
          var $this = $(this);
          if ($this.children('a').length > 10 && $this.attr('id') != "sortable") {
            $(ui.sender).sortable('cancel');
          }
        }
    });
	
	function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  };

	var ajaxFunction = function(event, ui){
	  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if(!csrfSafeMethod(settings.type) && !this.crossDomain){
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    var results = $('#sortable-result').children();
      var resArray = [];
      for (var i = 0; i < results.length; i++) {
        resArray.push(results[i].id);
      }
		if ({{step}} < 10){
			$.ajax({
			data: {'resarray[]': resArray, 'step': {{step}}},
			type: 'POST',
			url: '/survey/next/',
			async: false, 
			});
		}
		else if ({{step}} == 10){
			$.ajax({
			data: {'resarray[]': resArray},
			type: 'POST',
			//url: '/survey/{{ questiongroup_id }}/finish/',
			async: false, 
			});
		}
			
	}
	
	function nextClick(event, ui){
		var results = $('#sortable-result').children();
		if (results.length == 10 && {{step}} < 9){
			if (confirm('You have selected the list:\n \n 1. ' + 
			results[0].innerHTML + '\n 2. ' + results[1].innerHTML + 
			'\n 3. ' + results[2].innerHTML + '\n 4. ' + results[3].innerHTML + 
			'\n 5. ' + results[4].innerHTML + '\n 6. ' + results[5].innerHTML +
			'\n 7. ' + results[6].innerHTML + '\n 8. ' + results[7].innerHTML +
			'\n 9. ' + results[8].innerHTML + '\n 10. ' + results[9].innerHTML + 
			'\n \n Are you sure this is the list you wanna submit?') == true
			) {
				ajaxFunction(event, ui);
				document.location.href="{% url 'survey' %}";
			} 
			else {
				window.close();
			}
		}		
		else if(results.length < 10){
			alert("You have to select 10 items");
		}
		else if ({{step}} == 9){
			if (confirm('You have selected the list:\n \n 1. ' + 
			results[0].innerHTML + '\n 2. ' + results[1].innerHTML + 
			'\n 3. ' + results[2].innerHTML + '\n 4. ' + results[3].innerHTML + 
			'\n 5. ' + results[4].innerHTML + '\n 6. ' + results[5].innerHTML +
			'\n 7. ' + results[6].innerHTML + '\n 8. ' + results[7].innerHTML +
			'\n 9. ' + results[8].innerHTML + '\n 10. ' + results[9].innerHTML + 
			'\n \n Are you sure this is the list you wanna submit?'
			) == true) {
				ajaxFunction(event, ui);
				document.location.href="{% url 'Survey finished' %}";
			} 
			else {
				window.close();
			}
		}
	}

	document.getElementById("next").onclick = function(event, ui) {nextClick(event, ui)};

});

  </script>

  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100' rel='stylesheet' type='text/css'>
    <title>Group Recommendation Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-bar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">Survey</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- Removed header buttons.
      <div class="collapse navbar-collapse" id="main-nav-bar">
        <ul class="nav navbar-nav">
          <li class="{% if nav_active == 'home' %} active {% endif %}"><a href="{% url 'index' %}">Home</a></li>
          <li class="{% if nav_active == 'survey' %} active {% endif %}"><a href="{% url 'survey' %}">Survey</a></li>
        </ul>
      </div>
      -->
    </div>
  </nav>

  {% block content %}
  {% endblock content %}
  </body>
</html>

