{% extends "polls/base.html" %}

{% block content %}
{% csrf_token %}
<table class="table" style="border-collapse:collapse;">
	<tr>
		<td><p class="navbar-brand"> Step {{printstep}} out of 10 </p></td>
	</tr>
	<tr>
		<td>
			<p style="font-size: 16px"> Below is the different group members preferences listed with their favourit movie at item 1 and decending.</p> 
		</td>
	</tr>
</table>
  <table class="table" style="border-collapse:collapse;">
    <tbody>
	<tr>
	{% for user in users %}
		<th> User {{ user }} </th>
	{%endfor%}
	</tr>
	<tr>
    {% for prefs in userPrefs %}
		<td>
			<table class="table-bordered">
			{% for pref in prefs %}
				<tr>
					<td height="40" style="padding-left:3px; padding-right:3px">{{forloop.counter}}. {{ pref }} </td>
				<tr>
			{% endfor %}
			</table>
		</td>
    {% endfor %}
	</tr>
    </tbody>
</table>
 <p style="margin-left:10px; font-size: 16px">Please drag items from the "Available Items"-list 
 to the "Group Recommendations"-list and arrange the with the most ideal item at the top of the list.</p>
<tbody> 
<table style="margin-left:10px;">
<td valign="top">
<table class="table-bordered" style="margin-right:10px;">
	<tr>
		<th style="padding:5px">
			Available Items 
		</th>
	</tr>
	<tr>
		<td>
				<ul id="sortable" class="connect_lists" style="list-style-type:none; padding:0; padding-left:10px;">
					{% for item in itemlist %}
						<a id="{{item.itemid}}" class="list-group-item" style=" margin:1px; padding: 5px; display:list-item">{{ item.item }}</a>
					{% endfor %}
				</ul>
		</td>
	</tr>
	</tbody>
</table>
</td>
<td valign="top">
<table class="table-bordered">
	<th style="padding:5px">
		Recommendations
	</th>
	<tr>
		<td width="400">
			<ol id="sortable-result" class= "connect_lists result"> </ol>
		</td>
	</tr>
</table>
</td>
<td valign="top">
	<div>
		<button id="next" class="btn btn-primary" onclick="location.href='{% url 'survey' %}'" style="margin-left:10px; margin-top:2px;">Step Forward <span class="glyphicon glyphicon-arrow-right"></span></button>
	</div>
</td>
</table>

{% endblock content %}