{% extends "polls/base.html" %}

{% block content %}
  <table class="table table-hover" style="border-collapse:collapse;">
    <tbody>
	<tr>
	{% for user in users %}
		<th> {{ user }} </th>
	{%endfor%}
	</tr>
	<tr>
    {% for prefs in userPrefs %}
		<td>
		{% for pref in prefs %}
		
			{{ pref }} <br>
		
		{% endfor %}
		</td>
    {% endfor %}
	</tr>
    </tbody>
  </table>
  <ul id="sortable">
    {% for item in itemlist %}
      <li class="ui-state-default">{{ item.name }}</li>
    {% endfor %}
  </ul>
</div>
<div>
	<button href="{% url 'survey_step' questiongroup_id=1 step=2 %}">Step Forward</button>
</div>

{% endblock content %}